@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-display font-black text-white text-5xl sm:text-9xl;
    }

    h2 {
        @apply font-display font-black text-3xl sm:text-6xl;
    }

    h3 {
        @apply font-display font-black text-2xl sm:text-4xl;
    }

    h4 {
        @apply font-display font-black text-white;
    }

    p {
        @apply font-body text-sm sm:text-base;
    }

    input {
        @apply font-body bg-inherit text-sm sm:text-base;
    }

    textarea {
        @apply font-body bg-inherit text-sm sm:text-base;
    }

    select {
        @apply font-body bg-inherit text-sm sm:text-base;
    }

    option {
        @apply font-body bg-inherit text-sm sm:text-base;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
